<header>
  <div class="container">
    <div class="fl">
      <img class="sm-image" src="/src/img/smiljan-header.png">
    </div>
    <div class="fr">
      <button md-button>
        <md-icon>help</md-icon>
        HELP
      </button>
      <button md-button>
        <md-icon>book</md-icon>
        COURSES
      </button>
      <button md-raised-button class="db">
        <md-icon>account_circle</md-icon>
        My account
      </button>
      <button md-raised-button class="db">
        <md-icon>info</md-icon>
        Log Out
      </button>
    </div>
  </div>
</header>
<div class="content">
  <div class="container">
    <am-diploma-item></am-diploma-item>
    <am-diploma-item></am-diploma-item>
    <am-diploma-item></am-diploma-item>
    <am-diploma-item></am-diploma-item>
    <am-diploma-item></am-diploma-item>
  </div>
</div>
<footer>
  <div class="container">
    <md-card-title>
      <md-grid-list cols="3" rowHeight="150px">
        <md-grid-tile>
          <md-card class="footer-card">
            <md-card-content>
              <h3>Card Title</h3>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </md-card-content>
          </md-card>
        </md-grid-tile>
        <md-grid-tile>
          <md-card class="footer-card">
            <md-card-content>
              <h3>Card Title</h3>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </md-card-content>
          </md-card>
        </md-grid-tile>
        <md-grid-tile>
          <md-card class="footer-card">
            <md-card-content>
              <h3>Card Title</h3>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </md-card-content>
          </md-card>
        </md-grid-tile>
      </md-grid-list>
    </md-card-title>
  </div>
</footer>
<div class="copyright">
  <div>
      All rights reserved 	&copy; | <a href="#">Terms</a>   <a href="#">Privacy and policy</a>
  </div>
</div>
