<md-card class="example-card">
  <img src="/src/img/diploma-pic.png">
  <md-card-content>
    <h3>Card Title</h3>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
    <div class="db cf">
      <p class="fl">GRADE: 88/100</p>
      <div class="fr">
        <md-icon>check</md-icon>
        <md-icon>swap_verticle_circle</md-icon>
      </div>
    </div>
  <!--<md-card-footer class="db">-->
    <!---->
  <!--</md-card-footer>-->
</md-card>
