<header>
  <div class="container">
    <button md-raised-button class="db">Raised button</button>
    <button md-raised-button class="db">Raised button</button>
  </div>
</header>
<div class="content">
  <div class="container">
    <md-card class="example-card">
      <md-card-header>
        <div md-card-avatar class="example-header-image"></div>
        <md-card-title>Shiba Inu</md-card-title>
        <md-card-subtitle>Dog Breed</md-card-subtitle>
      </md-card-header>
      <img md-card-image src="/shiba1.jpg">
      <md-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button>LIKE</button>
        <button md-button>SHARE</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
<footer>
  <div class="container">
    <md-toolbar color="primary">
      <span>Custom Toolbar</span>
    </md-toolbar>
  </div>
</footer>

<!--<md-toolbar color="primary">-->
<!--<span>Custom Toolbar</span>-->

<!--<md-toolbar-row>-->
<!--<span>Second Line</span>-->
<!--<span class="example-spacer"></span>-->
<!--<md-icon class="example-icon">verified_user</md-icon>-->
<!--</md-toolbar-row>-->

<!--<md-toolbar-row>-->
<!--<span>Third Line</span>-->
<!--<span class="example-spacer"></span>-->
<!--<md-icon class="example-icon">favorite</md-icon>-->
<!--<md-icon class="example-icon">delete</md-icon>-->
<!--</md-toolbar-row>-->
<!--</md-toolbar>-->
