@import '../node_modules/@angular/material/core/theming/_all-theme';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-red);
$accent: mat-palette($mat-blue, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

header {
  width: 100%;
  min-height: 50px;
  background-color: lightgrey;
  color: white;
  display: flex;
}

.container {
  padding: 10px;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  //background-color: gray;
}

.content {
  min-height: 500px;
  width: 100%;
  display: flex;
}

footer {
  width: 100%;
  min-height: 100px;
  background-color: lightgray;
}

.db {
  background-color: darkblue;
  color: white;
}

p {
  padding: 10px;
}

.fr {
  top: 5px;
  right: 5px;
  float: right;
  width: 50%;
}

.fr button {
  width: 23%;
}

.fl {
  left: 5px;
  display: inline;
}

sm-icon {
  padding: 5px 0 5px;
  float: right;
}

.sm-image {
  height: 50px;
  width: 200px;
  //position: relative;
}

md-card-content {
  padding: 10px;
}

md-card-content h3 {
  padding: 10px;
}

.pad {
  padding: 10px;
}

.copyright {
  min-height: 50px;
  width: 100%;
}

.copyright div {
  padding: 10px;
  text-align: center;
}

footer .mat-card {
  padding: 0;
}

.fullwidth {
  background-color: blueviolet;
  width: 100%;
}

@media screen and (max-width: 1000px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) { /*The following CSS runs only for displays with a width (in pixels) of more than 800px*/
  .container {
    width: 100%;
  }
}
